.btn-pre {
  width: 100px;
  height: 40px;
  border-radius: 5px !important;

  &:focus {
    border-color: transparent !important;
    outline: none !important;
  }

  &.btn-custom {
    background-color: $blue !important;
    color: $white !important;
  }
}