.menu-data {
  display: flex;
  gap: 1rem;

  .menu {
    z-index: 11;

    &.active {
      width: 25%;
      height: 100vh;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      position: absolute;
      animation-name: side-bar-move;
      animation-duration: .2s;

      .menu-icon {
        padding-left: 4rem;
      }

      // & ~ .data {
      //   &.blur {
      //     opacity: 0.7;
      //   }
      // }
    }

    .menu-icon {
      color: #fff;
      font-size: 3rem;
      padding: 0.7rem 4rem 0.7rem 1rem;
      width: 100%;
      opacity: 0.3;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      text-align: center;
      width: 100%;
      gap: 1rem;
      color: $blue;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@keyframes side-bar-move {
  0%    { left: -100%; }
  10%   { left: -90%; }
  20%   { left: -80%; }
  30%   { left: -70%; }
  40%   { left: -60%; }
  50%   { left: -50%; }
  60%   { left: -40%; }
  70%   { left: -30%; }
  80%   { left: -20%; }
  90%   { left: -10%; }
  100%  { left: 0; }
}