.modal-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .modal-title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }
}

.modal-body {
  overflow: auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
    }

    .dropzone {
      width: 22rem;
      height: 22rem;
      border-radius: 10px;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }

    .required {
      border: 1px solid $red;

      &::placeholder {
        color: $red;
      }
    }

    .validator {
      font-style: italic;
      color: $red;
      font-size: 12px;
      display: none;
    }
  }
}